### Java
# Compiled class file
*.class

# Log file                    f
*.log


# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
build/

### JetBrains
.idea
*.iml

# IntelliJ
/out/

### Gradle
.gradle
!gradle/wrapper/gradle-wrapper.jar